extends main

block content2
	div.container.faq 
		div.faq_title For students:
		div.faq_description After you create an account and log in the the website, you will see the navigation panel on the top of the page. This will allow you to view, upvote, and suggest events.
		div.faq_subtitle 
			a(href="/leaderboard") Leaderboard:
		div.faq_description The leaderboard displays the suggested events in order of upvotes.
		div.faq_subtitle 
			a(href="/upcoming") Upcoming Events:
		div.faq_description Upcoming events diplays events that have already been scheduled, meaning that they have been approved by teachers after receiving the required number of upvotes.
		div.faq_subtitle 
			a(href="/myEvents") My Events:
		div.faq_description My events displays the events that you have liked. 
		div.faq_subtitle 
			a(href="#") Categories:
		div.faq_description Categories displays events filtered by category. 

		div.faq_subtitle
			a(href="#") Upvoting:
		div.faq_description Upvote an event by clicking the "Like!" button. The button will turn green and you should see the upvote counter go up by one. Click on the button again to unlike. 

		div.faq_subtitle 
			a(href="#") Viewing an event:
		div.faq_description Click on any event to view details of that event.

		div.faq_subtitle 
			a(href="/suggest") Suggesting an event:
		div.faq_description To suggest an event, click on the "Suggest" button on the right portion of the navigation bar. A form will appear; fill out the form with your event title, description, and cateogory. Click submit, and the event will appear on the leaderboard for your peers to upvote.

		div.faq_title For teachers/administrators:
		div.faq_description Teacher accounts have all the functionalities of student accounts in addition to several additional functionalities.

		div.faq_subtitle 
			a(href="#") Sponsoring an event
		div.faq_description In the teacher view, a "sponsor" button will appear in each event box for any event that has over the required number of upvotes (5). Click on this button to sponsor the event. This begins the process of making the event a reality. Although this web app does not support scheduling, the teacher can set the date for the event once it has been decided.
