html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Set up document
-----------------------------------------------------------------------------*/

body {
  font: 62.5%/1.5 'Helvetica Neue', sans-serif;
  text-align: center;
  background: #a9a9a9;
/*  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;*/
  
}

/*body:hover{
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); 
  -webkit-transform: rotate(180deg); 
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}*/

#wrapper {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: right;

/*  background: #fff;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
}

#wrapper h1 {
  padding: 20px;
  font-size: 40pt;
}

#wrapper h2 {
  font-size: 20pt;
}

#wrapper p {
  font-size: 14pt;
  padding-top: 10%;
}

.error-message {
  margin-top: 10%;
  color: red;
}

/* Header
-----------------------------------------------------------------------------*/
header nav {
  width: 100%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  height:50px;
  background: rgba(60, 60, 60, 1);
}
header nav ul {
  list-style: none;
  margin-bottom: 0;

}
header nav ul li {
  height: 50px;
  display: inline;
  margin-left: 1%;
}
header nav ul li a {
  font-size: 14pt;
  display: inline-block;
  padding: 0 15px 0;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  line-height: 50px;
}
header nav ul li a:hover {
  background-color: #87CEFA;
}

#helloMessage:hover{
  background-color: rgba(60, 60, 60, 1);
  cursor: default;
  color: #fff;
  text-decoration: none;
}

/* Side navbar
-----------------------------------------------------------------------------*/
.tab-container
{
   float: left;
   margin: 50px 0 0 0;
   width: 15%;
   z-index: 2015;
}
.tab-container ul
{
   list-style: none;
   text-align: center;
   left: 0;
}
.tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 8px solid #666;
   background-color: #ddd;
   margin: 8px 0;
   cursor: pointer;
   font-size: 11pt;
}
.tab-container ul li a,
.tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 15px 5px;
}
.tab-container ul li:hover
{
   border-left: 8px solid #333;
}
.tab-container ul li a:hover
{
   color: #000;
}
.tab-container ul li.selected
{
   border-right: none;
   background-color: #fff;
   border-left: 8px solid #006699;
}
.inner-tab-container {
  display: none;
  left: 100%;
  top: -62px;
  position: relative;
}

.inner-tab-container ul li{
  margin: 0;
}

/*events divs
---------------------------------------------------------------------------------------------------*/
#eventsWrapper{
  overflow-y: scroll;
}

#eventsWrapper .mix {
  display: none;
}

.event{
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  float:right;
  margin-right: 10px;
  height: 150px;
}

.singleEvent{
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  float:right;
  margin-right: 10px;
  height: 400px;
}

.event .col-xs-4 {
  text-align: left !important;
  width: 40%;
}

.event .col-xs-3 {
  text-align: left !important;
  width: 30%;
}

.eventTitle {
  font-size: 20pt;
}

.eventDesc {
  font-size: 16pt;
}

.rank {
  font-size: 16pt;
  font-weight: 500;
  margin: 10px 0;
}

.upvotes {
  font-size: 14pt;
}

/*forms*/
#eventsWrapper .form-control {
  width: 42% !important;
  margin-left: 5%;
  margin-bottom: 2%;
}

#eventsWrapper .btn-lg {
  width: 42% !important;
  margin-left: 5%;
  margin-bottom: 2%;
}