extends layout

block content
  h1= title

  h2 Catchy slogan about the site

  p Not a user yet?
  input#signupButton(type='button', value='Sign up now')


block content_navbar
  li 
    a(href="/") Home
  li
    a(href="/settings") Settings
  li 
    a#loginButton Log In