extends layout

block content
  img#afterthreelogo(src='../images/afterthree_logo.png')

  h2 some catch slogan

  #message
    if message
      h2.text-center.error-message #{message}

  p Not a user yet?
  input#signupButton(type='button', value='Sign up now')
  
block content_navbar
  li 
    a#loginButton Log In

block content_modal
  div.greyedOutOverlay
  div.modal
