html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cuprum')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/settings") Settings
          li 
            a Log In
    
    section.tab-container
      ul
        li
          a Leaderboard
        li
          a Upcoming
        li
          a My Events
        li#categories
          a Categories >
          section.inner-tab-container
            ul
              li
                a Category1
              li
                a Category2
              li
                a Category3
              li
                a Category4
    section#wrapper
      block content
      