html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cuprum')
    link(rel='stylesheet', href='/stylesheets/modals.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
  body
    header
      nav#mainNavbar
        ul
          block content_navbar
    block content1
      
    section#wrapper
      block content
      