extends layout

block content1
  ul
    li
      a(href="/leaderboard") Leaderboard
    li
      a(href="/upcoming") Upcoming
    li
      a(href="/myEvents") My Events
    li#categories
      a Categories >
    section.inner-tab-container
      ul
        li
          a Category1
        li
          a Category2
        li
          a Category3
        li
          a Category4

block content
  h1= title
  section#eventsWrapper
    block content2