extends layout

block content_navbar
  #user
    if user.name
      li
        a#helloMessage Hello, #{user.name}!
    li 
      a(href="/main") Home
    li
      a(href="/suggest") Suggest
    li 
      a(href="/logout") Log Out

block content_sidebar
  section.tab-container
    ul
      li
        a(href="/leaderboard") Leaderboard
      li
        a(href="/upcoming") Upcoming
      li
        a(href="/myEvents") My Events
      li#categories
        a Categories >
      section.inner-tab-container
        ul
          li
            a.filter(data-filter='.category1') Category1
          li
            a.filter(data-filter='.category2') Category2
          li
            a.filter(data-filter='.category3') Category3
          li
            a.filter(data-filter='.category4') Category4

block content
  h1= title
  block content_extra
  div(style="clear:right;")
  section#eventsWrapper
    block content2

block content_scripts
  script(type='text/javascript').
    $(function(){

      $('#eventsWrapper').mixItUp();

    });